
{% extends 'base_lte.html.twig' %}

{% block title %}{{ room.nom }}{% endblock %}
{% block nomSalon %}{{ room.nom }}{% endblock %}

{% block chat %}

    <!-- DIRECT CHAT -->
    <div class=" direct-chat direct-chat-primary" >
        <!-- /.card-header -->
        <!-- Conversations are loaded here -->
        <div class="direct-chat-messages" style="height: 50em !important;">
            {% for message in messages %}
                {% if message.user.username == app.user.username %}
                    <!-- Message to the right -->
                    <div class="direct-chat-msg right">
                        <div class="direct-chat-infos clearfix">
                            <span class="direct-chat-name float-right">{{ message.user.username }}</span>
                            <span class="direct-chat-timestamp float-left">{{ message.dateCreation|date("m/d/Y") }}</span>
                        </div>
                        <!-- /.direct-chat-img -->
                        <div class="direct-chat-text">
                            {{ message.message }}
                        </div>
                        <!-- /.direct-chat-text -->
                    </div>
                    <!-- /.direct-chat-msg -->
                {% else %}
                    <!-- Message. Default to the left -->
                    <div class="direct-chat-msg">
                        <div class="direct-chat-infos clearfix">
                            <span class="direct-chat-name float-left">{{ message.user.username }} </span>
                            <span class="direct-chat-timestamp float-right">{{ message.dateCreation|date("m/d/Y") }} </span>
                        </div>
                        <!-- /.direct-chat-img -->
                        <div class="direct-chat-text">
                            {{ message.message }}
                        </div>
                        <!-- /.direct-chat-text -->
                    </div>
                    <!-- /.direct-chat-msg -->
                {% endif %}
            {% endfor %}
        </div>
        <!-- /.direct-chat-pane -->
        <div class="card-footer">
            <form action="{{ path('send', {room : room.id}) }}" method="post">
                <div class="input-group">
                    <input type="text" name="sendMessage" placeholder="Ecrire un message ..." class="form-control">
                    <span class="input-group-append">
                      <button type="submit" class="btn btn-primary">Envoyer</button>
                    </span>
                </div>
            </form>
        </div>
        <!-- /.card-footer-->
    </div>

    <a href="{{ path('room_index') }}">back to list</a>

    {{ include('room/_delete_form.html.twig') }}
{% endblock %}
{% block javascripts %}
    <script>

        const url = new URL('http://192.168.1.22:3000/hub');
        url.searchParams.append('topic', 'http://192.168.1.22/room/'+{{ room.id }});
        const eventSource = new EventSource(url, {withCredentials:true});
        eventSource.onmessage = e => {
            const data = JSON.parse(e.data);
            if(data.message){
                document.querySelector(".direct-chat-messages").insertAdjacentHTML('afterbegin', '<div class="direct-chat-msg right">'+
                    '<div class="direct-chat-infos clearfix">'+
                    '<span class="direct-chat-name float-right">'+data.user.username+'</span>'+
                    '<span class="direct-chat-timestamp float-left"></span>'+
                    '</div>'+
                    '<!-- /.direct-chat-img -->'+
                    '<div class="direct-chat-text">'+
                    +   data.message +
                    '</div>'+
                    '<!-- /.direct-chat-text -->'+
                    '</div>');
            }
        };

    </script>
{% endblock %}