{% extends 'base.html.twig' %}

{% block title %}Room{% endblock %}

{% block body %}
    <h1>Room</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ room.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ room.nom }}</td>
            </tr>
        </tbody>
    </table>
    <div>
        <ul class="messages">
            {% for message in messages|reverse %}
                <li class="message">{{ message.user.username }}  - {{ message.message }}</li>
            {% endfor %}
        </ul>
        <form action="{{ path('send', {room : room.id}) }}" method="post">
            <input name="sendMessage" type="text" value="" placeholder="Envoyer un message">
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
    <a href="{{ path('room_index') }}">back to list</a>

    <a href="{{ path('room_edit', {'id': room.id}) }}">edit</a>

    {{ include('room/_delete_form.html.twig') }}
{% endblock %}
{% block javascripts %}
    <script>

        const url = new URL('http://77.207.12.26:3000//hub');
        url.searchParams.append('topic', 'http://discode.fun/room/'+{{ room.id }});
        const eventSource = new EventSource(url, {withCredentials:true});
        eventSource.onmessage = e => {
            const data = JSON.parse(e.data);
            let message = '{{ app.user.username }}  - '+data.message;
            console.log(e);
            if(data.message){
                document.querySelector(".messages").insertAdjacentHTML('beforeend', '<li class="message">'+message+'</li>');
            }
        };

    </script>
{% endblock %}