{{ form_start(form) }}
                {% if (form_errors(form)|length > 0) or  (form_errors(form.password)|length > 0) %}
                    <div class="alert alert-danger">{{ form_errors(form) }}{{ form_errors(form.password) }}</div>
                {% endif %}
<div class="input-group mb-3">
    {{form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder':'Utilisateur'}})}}
    <div class="input-group-append">
        <div class="input-group-text">
            <span class="fas fa-user"></span>
        </div>
    </div>
</div>
<div class="input-group mb-3">
    {{form_widget(form.password.first, {'attr': {'class': 'form-control', 'placeholder':'Mot de passe'}})}}
    <div class="input-group-append">
        <div class="input-group-text">
            <span class="fas fa-lock"></span>
        </div>
    </div>
</div>
<div class="input-group mb-3">
    {{form_widget(form.password.second, {'attr': {'class': 'form-control', 'placeholder':'Confirmer mot de passe'}})}}
    <div class="input-group-append">
        <div class="input-group-text">
            <span class="fas fa-lock"></span>
        </div>
    </div>
</div>    

    {{ form_label(form.avatar_img) }}
    <br>    
<div class="input-group mb-3">

    {{form_widget(form.avatar_img, {'attr': {'class': 'form-control', 'placeholder':'Avatar'}})}}
    <div class="input-group-append">
        <div class="input-group-text">
        </div>
    </div>
</div>
<div class="row">
    <!-- /.col -->
    <div class="col-5">
        <button class="btn btn-primary btn-block">{{ button_label|default('Envoyer') }}</button>
    </div>
    <!-- /.col -->
</div>
{{ form_end(form) }}
